

h1{
   color:aqua;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #233f3f26;
}

/* Navbar */
header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    color:aqua;
    margin-left: 20px;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 50px;
    background: #3498db;
    color:black;
}

.hero input {
    padding: 10px;
    width: 250px;
}

.hero button {
    padding: 10px;
    background: #153556;
    color: black;
    border: none;
}

/* Categories */
.categories {
    padding: 20px;
    text-align: center;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Services */
.services {
    padding: 20px;
    text-align: center;
}

.service-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
}

.service-card button {
    background: #27ae60;
    color: white;
    padding: 8px;
    border: none;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
} */
/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007bff;
    color: white;
    padding: 15px 30px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: rgb(1, 0, 0);
}

.hero h2 {
    font-size: 32px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.feature-box {
    width: 30%;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/* Popular Services */
.popular {
    text-align: center;
    padding: 40px;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}